
<ion-header>
  <ion-toolbar color = "secondary">
    <!-- <ion-item> -->
    <ion-buttons slot="start">
    <ion-button fill="clear" href ="tabs/home" ><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Problem Name</ion-title>
    <!-- </ion-item> -->

  </ion-toolbar>
</ion-header>



<ion-content padding>


  <ion-img src="/assets/shapes.svg"></ion-img>
  <ion-item>
    <p>
      Title
    </p>
  </ion-item>

  <ion-item>
<p> Problem Description</p>
</ion-item>

<ion-button href="pupdate"><ion-icon name="add-circle"></ion-icon>PROVIDE AN UPDATE</ion-button>
<ion-button color="danger"><ion-icon name="backspace"></ion-icon>CLOSE THE ISSUE</ion-button>


<ion-item>
  <ion-label>Progress</ion-label>
</ion-item>


<!-- <p><ngb-progressbar showValue="true" type="success" [value]="25"></ngb-progressbar></p> -->
<ion-progress-bar color="primary" showValue="true" value="0.3"></ion-progress-bar>
<ion-label> % Completed </ion-label>
<!-- </ion-item> -->
<!-- <ion-item>
<ion-button color="dark" href="tabs/home" slot="end">
  <ion-icon name="home"></ion-icon>
Home
</ion-button>
</ion-item> -->
<p></p>
<ion-button color="light">
  <ion-icon name="chatbubbles"></ion-icon>Comments
</ion-button>

<ion-button color="light">
  <ion-icon name="quote"></ion-icon>Remarks
</ion-button>



</ion-content>
