<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
    <ion-button fill="clear" href ="tabs/home" ><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Yojana</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item href = "https://sbm.gov.in/" >
  <ion-card  class="welcome-card">
    <ion-img  src="/assets/sw.jpg" ></ion-img>
    <ion-card-header>
        <ion-card-subtitle>Rs 5,000,00 </ion-card-subtitle>
      <ion-card-title >Swacch Bharat Abhiyan</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Let's make this India Clean till 2020</p>
    </ion-card-content>
  </ion-card>
</ion-item>


<ion-item href = "https://wcd.nic.in/schemes/beti-bachao-beti-padhao-scheme" >
  <ion-card class="welcome-card">
    <ion-img src="/assets/b.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>बेटी बचाओ बेटी पढ़ाओ</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>जब आप एक आदमी को शिक्षित करते हैं, तो आप एक आदमी को शिक्षित करते हैं लेकिन जब आप एक महिला को शिक्षित करते हैं, तो आप एक पीढ़ी को शिक्षित करते हैं</p>
    </ion-card-content>
  </ion-card>
</ion-item>

<ion-item href = "https://makeinindia.com/" >
  <ion-card class="welcome-card">
    <ion-img src="/assets/m.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Make in India</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Smart India hackathon.</p>
    </ion-card-content>
  </ion-card>
</ion-item>
</ion-content>
