<ion-header>
  <ion-toolbar color ="secondary">
    <ion-buttons slot="start">
    <ion-button fill="clear" href ="tabs/home" ><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>My Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-chip>
  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-label>Vikas Bansal</ion-label>
</ion-chip>
<ion-list lines="none">
  <ion-list-header>

    <ion-icon name="medal"></ion-icon><ion-title>Recent Activities </ion-title>
  </ion-list-header>

  <ion-card class="welcome-card">
    <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
    <ion-item href="description">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Problem 1</ion-label>
    </ion-item>
    <ion-card-content>
      <p>The government said it will concretise part of the highway by 2020.</p>
      <ion-button><ion-icon name="checkmark-circle"></ion-icon>UPDATED</ion-button>
      <!-- <ion-button color="danger"><ion-icon name="arrow-dropdown"></ion-icon>321</ion-button> -->
    </ion-card-content>
  </ion-card>


  <ion-card class="welcome-card">
    <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
    <ion-item href="description">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Problem 2</ion-label>
    </ion-item>
    <ion-card-content>
      <p>The government said it will concretise part of the highway by 2020.</p>
      <!-- <ion-button><ion-icon name="arrow-dropup"></ion-icon>123</ion-button> -->
      <ion-button color="danger"><ion-icon name="backspace"></ion-icon>CLOSED</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card class="welcome-card">
    <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
    <ion-item href="description">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Problem 3</ion-label>
    </ion-item>
    <ion-card-content>
      <p>The government said it will concretise part of the highway by 2020.</p>
      <!-- <ion-button><ion-icon name="arrow-dropup"></ion-icon>123</ion-button> -->
      <ion-button color="danger"><ion-icon name="backspace"></ion-icon>CLOSED</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card class="welcome-card">
    <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
    <ion-item href="description">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Problem 4</ion-label>
    </ion-item>
    <ion-card-content>
      <p>The government said it will concretise part of the highway by 2020.</p>
      <!-- <ion-button><ion-icon name="arrow-dropup"></ion-icon>123</ion-button> -->
      <ion-button color="danger"><ion-icon name="backspace"></ion-icon>CLOSED</ion-button>
    </ion-card-content>
  </ion-card>

</ion-list>

</ion-content>
